<!DOCTYPE html><html lang="fr">
<app-header></app-header>
<body>
<div class="wrapper">
  <nav class="navbar navbar-default navbar-fixed-top navbar-transparent" id="navbar">
      <div class="navbar-header">
          <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#menu"
                  aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a href="index.html" class="navbar-brand">
              <img src="../assets/images/logo.png" class="logo" width="80px">
          </a>
      </div>
      <div class="collapse navbar-collapse pull-right" id="menu">
          <ul class="nav navbar-nav">
              <li>
                  <a href="index.html">
                      <i class="fa fa-home"></i>
                      Home
                  </a>
              </li>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                     aria-expanded="false">
                      <i class="fa fa-file-code-o"></i>
                      Pages <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                      <li>
                          <a href="error404.html">
                              Page 404
                          </a>
                      </li>
                      <li>
                          <a href="login.html">
                              Login
                          </a>
                      </li>
                      <li>
                          <a href="register.html">
                              Register
                          </a>
                      </li>
                      <li>
                          <a href="buttons.html">
                              Buttons
                          </a>
                      </li>
                      <li>
                          <a href="forms.html">
                              Form Elements
                          </a>
                      </li>
                      <li>
                          <a href="widgets.html">
                              Widgets
                          </a>
                      </li>
                      <li>
                          <a href="icons.html">
                              Icons
                          </a>
                      </li>
                      <li>
                          <a href="checkoutSuccess.html">
                              Checkout success
                          </a>
                      </li>
                      <li>
                          <a href="checkoutCancel.html">
                              Checkout cancel
                          </a>
                      </li>
                      <li>
                          <a href="checkoutError.html">
                              Checkout error
                          </a>
                      </li>
                  </ul>
              </li>
              <li>
                  <a href="cart.html">
                      <i class="fa fa-cart-plus"></i>
                      Cart
                  </a>
              </li>
          </ul>
      </div>
  </nav>

<router-outlet></router-outlet>
</div>
<app-footer></app-footer>
</body>
</html>