    <div class="item">
        <a href="#">
            <div class="picture">
                <img src="../assets/images/products/product9/item1.jpg" alt="item" />
            </div>
            <div class="category">{{beer.Categoria}}</div>
            <div class="title">{{beer.Nome}}</div>
            <div class="description">{{beer.Descricao}}</div>
            <div class="actions">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="price">
                            13.18 €
                        </div>
                    </div>
                    <div class="col-xs-6 text-right">
                        <i class="fa fa-cart-plus" data-toggle="tooltip"
                           title="Add to cart"></i>
                    </div>
                </div>
            </div>
        </a>
    </div>