    <div class="item">
        <a href="#">
            <div class="picture">
                <img src="{{beer.Url}}" alt="item" />
            </div>
            <div class="category">{{beer.Marca}}</div>
            <div class="title">{{beer.Nome}}</div>
            <div class="description">{{beer.Tipo}}</div>
            <div class="actions">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="price">
                            {{beer.Codigo}}
                        </div>
                    </div>
                    <div class="col-xs-6 text-right">
                        <i class="fa fa-cart-plus" data-toggle="tooltip"
                           title="Add to cart"></i>
                    </div>
                </div>
            </div>
        </a>
    </div>